[user]
  name = Mark Fallon
  email = markfallondub@gmail.com
[push]
  default = simple
[core]
  autocrlf = false
[merge]
  tool = meld
[mergetool]
  keepbackup = false
[diff]
  guitool = meld
[difftool "meld"]
  path = /usr/bin/meld
[difftool "sourcetree"]
  cmd = '/usr/bin/meld' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
  cmd = '/usr/bin/meld' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
  trustExitCode = true
